@import url(main.css);

.main-content{
    width: 100%;
    min-height: calc(100vh - 80px - 165px - 100px);
    background-color: #F4F4F4;
    border-radius: 10px;
    padding: 20px 30px;
}
.main-content-header{
    font-size: 25px;
    font-weight: 500;
}
.field-cell{
    width: 30%;
}
.country-cell, .group-cell{
    width: 15%;
}
.region-cell, .district-cell{
    width: 20%;
}
.field-link{
    color: black;
    transition: font-weight 0.5s;
}
.field-link:hover{
    font-weight: bold;
}
